body {
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*START header css*/
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px;
}

a {
  color: seashell;
}
/*END header CSS*/
