body {
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/*START header css*/
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px;
}

a {
  color: seashell;
}
/*END header CSS*/
/*START main section*/

main {
  padding-top: 70px;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

#mission .content {
  background-color: black;
  width: 100%;
}

/*END main section*/
/*START menu*/
#featuredtea{
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 5px;
}

.item img {
  display: block;
  height: 200px;
  margin: 10px;
}

.item h4 {
  margin-top: 10px;
}
/*END Menu*/
/*START locations*/
#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.addresses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.address {
  background-color: black;
  width: 300px;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*END locations*/
/*START contact*/
#contact {
  height: 200px;
}
/*END contact*/
/*START footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
/*START footer*/
